/* GLOBAL FONT */
body {
    margin: 0;
    font-family: 'Forum', serif;
    background: #F2F0F4;
}

/* TITLES (script style) */
h2 {
    font-family: 'Homemade Apple', cursive;
    font-weight: normal;
}

/* BODY TEXT */
h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* BODY BG */
body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.top-bar, .bottom-bar {
    width: 100%;
    height: 40px;
    background: #CDC2E5;
}

/* NAVBAR */
.navbar {
    background: #CDC2E5;
    padding: 10px;
    border: 2px solid #1C0C38;
    border-radius: 10px;
    margin: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* NAVBAR TEXT */
.navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Forum', serif;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
}

/* GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "about intro"
        "course navigate";
    gap: 15px;
}

/* assign areas */
.about { grid-area: about; }
.intro { grid-area: intro; }
.course { grid-area: course; }
.navigate { grid-area: navigate; }
.about { width: 50%; }
.intro { width: 30%; }
.course { width: 30%; }
.navigate { width: 50%; }

/* CARDS */
.card {
    background: #EBE4F2;
    border: 2px solid #1C0C38;
    border-radius: 10px;
    padding: 15px;
}

/* ABOUT SECTION */
.about {
    display: flex;
    gap: 15px;
}

.about img {
    width: 150px;
    border-radius: 10px;
    border: 2px solid #1C0C38;
}

.about-text h2 {
    margin-top: 0;
}

.about-text p::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("butterfly_icon.png") no-repeat center;
    background-size: contain;
    margin-right: 8px;
}

/* INTRO */
.intro {
    font-size: 14px;
}

/* COURSE */
.course {
    grid-column: 1 / 2;
}

.course p::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("butterfly_icon.png") no-repeat center;
    background-size: contain;
    margin-right: 8px;
}

.intro, .course {
    text-align: center;
}

/* NAVIGATE */
.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    width: 60%;
}

.nav-image {
    width: 150px;
    border-radius: 10px;
    border: 2px solid #1C0C38;
}

.navigate select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.btn {
    display: flex;
    justify-content: space-between; /* pushes arrow right */
    align-items: center;

    background: #CDC2E5;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    border: 1px solid #1C0C38;
}

.arrow {
    font-weight: bold;
}

.btn:hover {
    background: #A08AB7;
}
